<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for u in categoria %}
        <li>
            {{u.nome}} - 
            {{u.tipo_veiculo}} - 
            {{u.veiculo}} - 
            {{u.id}} - 
            <a href="/categoria/update/{{u.id}}">editar</a>
            <a href="/categoria/delete/{{u.id}}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>